/***Global***/
@font-face {
  font-family: "Vermin";
  src: url(../Fonts/Vermin\ Vibes\ 2\ Soft.otf) format("truetype");
}
.fa {
  display: inline-block !important;
  font-size: 35px !important;
  color: #fff;
  padding: 10px;
  text-shadow: 1px 1px #06f326;
}
.fa:hover {
  color: #06f326;
  text-shadow: 1px 1px #fff;
  font-size: 45px !important;
}
ul.socials {
  margin-left: -40px;
}
h1.customfont {
  font-family: "Vermin", Verdana, Tahoma;
  font-size: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  text-shadow: 2px 2px #f30606;
}
@media screen and (max-width: 480px) {
  h1.customfont {
    font-size: 45px;
  }

  h2.customfont {
    font-size: 55px;
  }

  p.porttext-main {
    margin-bottom: -20px;
    margin-top: -10px;
  }
}
h2.customfont {
  font-family: "Vermin", Verdana, Tahoma;
  font-size: 75px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  text-shadow: 2px 2px #f30606;
}
@media screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
  h1.customfont {
    font-size: 45px;
  }

  h2.customfont {
    font-size: 55px;
  }
  /* .homepage#footer {
    margin-top: -300px;
  }*/
}
@media screen and (min-width: 800px) {
  .mobile {
    display: none;
  }
  .sidebysidepor-sem h3 {
    padding-top: 60px;
  }
  .sidebysidepor-server h3 {
    padding-top: 60px;
  }
  .sidebysidepor-proj1 h3 {
    padding-top: 40px;
  }
}
h3.customfont {
  font-family: "Vermin", Verdana, Tahoma;
  font-size: 25px;
  color: #fff;
  text-align: center;
  line-height: 26px;
  text-shadow: 2px 2px #f30606;
}
li h3 {
  font-family: "Vermin", Verdana, Tahoma;
  font-size: 25px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  text-shadow: 1px 1px #06f326;
  /*padding-left: 60px;*/
  /*padding-right: 60px;*/
}

li h3:hover {
  color: #06f326;
  text-shadow: 1px 1px #fff;
  /*font-size: 35px;*/
}
h4 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 25px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  text-shadow: 1px 1px #06f326;
  /*padding-left: 60px;*/
  /*padding-right: 60px;*/
}

h4 a:hover {
  color: #06f326;
  text-shadow: 1px 1px #fff;
  /*font-size: 35px;*/
}
h4 a {
  color: #fff;
}
nav ul {
  list-style: none;
  text-align: center;
  /*display: inline-flex;*/
  margin-left: -40px;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  /*text-align: justify;*/
}
p.porttext-main {
  padding: 0px;
  text-shadow: 1px 1px #000;
  text-align: justify;

  /* font-weight: 800!important; */
}
p.porttext {
  padding: 12px;
  text-shadow: 1px 1px #000;
  /* font-weight: 800!important; */
}

ul.experience {
  color: #fff;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.section-head {
  padding-top: 50px;
}
a {
  text-decoration: none;
}

h5 {
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 1px 1px #000;
  margin: 0px;
}
h5.keyphrase {
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-shadow: 1px 1px #06f326;
  margin: 0px;
}
 /**small screen fix**/

@media screen and (max-width: 350px) {
p.porttext {
    padding: 5px;
}
.wpinner-container {

    padding: 12px;
}
.main-portfolio {
    width: 16.5rem;
}
h2.customfont {
    font-size: 45px;
}
h1.customfont {
    font-size: 37px;
}
h5 {
    margin: 0px 20px 0px 20px;
}
h3.customfont {
    font-size: 20px;
}
}
/***Global end***/
/***Header***/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  background-color: #003366;
  /*padding: 40px;*/
  /* width: 125%*/
}

.title {
  background-color: #003366;
  display: flex;
  text-align: center;
  padding-top: 50px;
}
.mugshot {
  padding-top: 50px;
  display: flex;
  width: 30rem;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
}
.photo {
  width: 90%;
  margin: 0px;

  border-radius: 25px;
  box-shadow: 5px 5px #888888;
}

/***Header end***/
.about {
  background-image: linear-gradient(180deg, #003366, green 150%);
  /*margin: -20px;

  margin: -35px;*/

  padding-top: -20px !important;
}

.flex-container-about-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  /* width: 145%;*/
  padding: 40px;
}

.sidebyside {
  width: 30rem;
}
.portfolio {
  /*height: 1200px;*/
  background-image: linear-gradient(180deg, #156429, #fff 150%);
  /*margin: -20px;
  margin: -35px;*/
  padding-top: -20px !important;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-size: cover;
  align-items: center;
  justify-content: space-evenly;
}
.container {
  /*margin: -20px;
  padding: 0px;*/
}

.main-portfolio {
  width: 70rem;
  border-radius: 25px;
  height: 400px;
  background-image: url(../images/wordpress.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 5px 5px #f0f0f0;
  margin-bottom: 20px;
}
.main-portfolio:hover {
  background-image: url(../images/wordpresshov.jpg);
  box-shadow: 5px 5px #000;
  height: 440px;
  width: 85%;
}
.wpinner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 40%;
  padding: 20px;
}
.flex-container-folio-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: center;
}
/**Large screen fix**/
@media screen and (min-width: 1500px) {
  .flex-container-folio-content {
    height: 850px;
    width: 80%;
}
  .main-portfolio {
    width: 60%;
    margin-right: 20%;
    margin-left: 20%;
}
}
  
.sidebysidepor {
  width: 34rem;
  border-radius: 25px;
  height: 400px;
  background-image: url(../images/tbc.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align: center;
  margin: 20px;
  box-shadow: 5px 5px #f0f0f0;
}
.sidebysidepor-sem {
  width: 34rem;
  border-radius: 25px;
  height: 400px;
  background-image: url(../images/semhov.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align: center;
  margin: 20px;
  box-shadow: 5px 5px #f0f0f0;
}
.sidebysidepor-sem:hover {
  background-image: url(../images/semhov.jpg);
  box-shadow: 5px 5px #000;
  height: 440px;
  width: 45%;
}
.sidebysidepor-server {
  width: 34rem;
  border-radius: 25px;
  height: 400px;
  background-image: url(../images/serverhov.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align: center;
  margin: 20px;
  box-shadow: 5px 5px #f0f0f0;
}
.sidebysidepor-server:hover {
  background-image: url(../images/serverhov.jpg);
  box-shadow: 5px 5px #000;
  height: 440px;
  width: 45%;
}
.sidebysidepor-proj1 {
  width: 34rem;
  border-radius: 25px;
  height: 400px;
  background-image: url(../images/proj1hov.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align: center;
  margin: 20px;
  box-shadow: 5px 5px #f0f0f0;
}
.sidebysidepor-proj1:hover {
  background-image: url(../images/proj1hov.jpg);
  box-shadow: 5px 5px #000;
  height: 440px;
  width: 45%;
}
@media screen and (max-width: 480px) {
  .wpinner-container {
    width: 90%;
  }
  .sidebysidepor {
    width: inherit;
  }
  .sidebysidepor-sem {
    width: inherit;
    background-image: url(../images/semhov.jpg);
  }
  .sidebysidepor-server {
    width: inherit;
    background-image: url(../images/serverhov.jpg);
  }
  .sidebysidepor-proj1 {
    width: inherit;
    background-image: url(../images/proj1hov.jpg);
  }
  .main-portfolio {
    width: 20rem;
    background-image: url(../images/wordpresshov.jpg);
  }
  /* .flex-container-folio-content {
    height: 1329px;
  }*/
}
@media screen and (min-width: 760px) and (max-width: 850px) {
  .sidebysidepor {
    width: 38rem;
  }
  .sidebysidepor-sem {
    width: 38rem;
    background-image: url(../images/semhov.jpg);
  }
  .sidebysidepor-server {
    width: 38rem;
    background-image: url(../images/serverhov.jpg);
  }
  .sidebysidepor-proj1 {
    width: 38rem;
    background-image: url(../images/proj1hov.jpg);
  }
  .main-portfolio {
    width: 38rem;
    background-image: url(../images/wordpresshov.jpg);
  }
  .wpinner-container {
    width: 90%;
  }
  .desktop {
    display: none;
  }
}
.footer {
  /*width: 100%;*/
  height: 300px;
  /*background-image: linear-gradient(180deg, #89b193, #003366 150%);*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: center;
}
.footercol {
  font-size: 25px;
  font-weight: 600;
  /*width: 27rem;*/
  text-align: center;
  padding: 10px;
}
.footercol a {
  text-decoration: none;
  color: #fff;
}
.footercol a:hover {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
}
#footer {
  margin-top: 50px;
}
.copyright {
  /*width: 100%;*/
  text-align: center;
  padding-top: 350px;
}
/***Woordpress page***/
.tonyjames {
  width: 34rem;
  border-radius: 25px;
  height: 400px;
  background-image: url(../images/Tony-James.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align: center;
  margin: 20px;
  box-shadow: 5px 5px #f0f0f0;
}
.tonyjames:hover {
  box-shadow: 5px 5px #000;
  height: 440px;
  width: 45%;
}
.ukal {
  width: 34rem;
  border-radius: 25px;
  height: 400px;
  background-image: url(../images/ukaesthetics.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align: center;
  margin: 20px;
  box-shadow: 5px 5px #f0f0f0;
}
.ukal:hover {
  box-shadow: 5px 5px #000;
  height: 440px;
  width: 45%;
}
.vgcharles {
  width: 34rem;
  border-radius: 25px;
  height: 400px;
  background-image: url(../images/VGCharles.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align: center;
  margin: 20px;
  box-shadow: 5px 5px #f0f0f0;
}
.vgcharles:hover {
  box-shadow: 5px 5px #000;
  height: 440px;
  width: 45%;
}
.price {
  width: 34rem;
  border-radius: 25px;
  height: 400px;
  background-image: url(../images/pricerichardson.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align: center;
  margin: 20px;
  box-shadow: 5px 5px #f0f0f0;
}
.price:hover {
  box-shadow: 5px 5px #000;
  height: 440px;
  width: 45%;
}

@media screen and (max-width: 800px) {
  .tonyjames {
    width: inherit;
  }
  .price {
    width: inherit;
  }
  .ukal {
    width: inherit;
  }
  .vgcharles {
    width: inherit;
  }
  .tonyjames:hover {
    width: inherit;
  }
  .ukal:hover {
    width: inherit;
  }
  .price:hover {
    width: inherit;
  }
  .vgcharles:hover {
    width: inherit;
  }
}

/***SEOs page***/
.sacfc {
  width: 34rem;
  border-radius: 25px;
  height: 400px;
  background-image: url(../images/sacfc.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align: center;
  margin: 20px;
  box-shadow: 5px 5px #f0f0f0;
}
.sacfc:hover {
  box-shadow: 5px 5px #000;
  height: 440px;
  width: 45%;
}
.bafab {
  width: 34rem;
  border-radius: 25px;
  height: 400px;
  background-image: url(../images/bafab.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align: center;
  margin: 20px;
  box-shadow: 5px 5px #f0f0f0;
}
.bafab:hover {
  box-shadow: 5px 5px #000;
  height: 440px;
  width: 45%;
}
.deep {
  width: 34rem;
  border-radius: 25px;
  height: 400px;
  background-image: url(../images/deep.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align: center;
  margin: 20px;
  box-shadow: 5px 5px #f0f0f0;
}
.deep:hover {
  box-shadow: 5px 5px #000;
  height: 440px;
  width: 45%;
}
.spotlight {
  width: 34rem;
  border-radius: 25px;
  height: 400px;
  background-image: url(../images/spotlight.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align: center;
  margin: 20px;
  box-shadow: 5px 5px #f0f0f0;
}
.spotlight:hover {
  box-shadow: 5px 5px #000;
  height: 440px;
  width: 45%;
}
@media screen and (max-width: 800px) {
  .sacfc {
    width: inherit;
  }
  .bafab {
    width: inherit;
  }
  .spotlight {
    width: inherit;
  }
  .bafab {
    width: inherit;
  }
  .deep:hover {
    width: inherit;
  }
  .sacfc:hover {
    width: inherit;
  }
  .bafab:hover {
    width: inherit;
  }
  .spotlight:hover {
    width: inherit;
  }
}
