/***Global***/
@font-face {
  font-family: "Vermin";
  src: url(../Fonts/Vermin\ Vibes\ 2\ Soft.otf) format("truetype");
}
.fa {
  display: inline-block !important;
  font-size: 35px !important;
  color: #fff;
  padding: 10px;
  text-shadow: 1px 1px #06f326;
}
.fa:hover {
  color: #06f326;
  text-shadow: 1px 1px #fff;
  font-size: 45px !important;
}
h1.customfont {
  font-family: "Vermin", Verdana, Tahoma;
  font-size: 50px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  text-shadow: 2px 2px #f30606;
}
h2.customfont {
  font-family: "Vermin", Verdana, Tahoma;
  font-size: 75px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  text-shadow: 2px 2px #f30606;
}
h3.customfont {
  font-family: "Vermin", Verdana, Tahoma;
  font-size: 25px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  text-shadow: 2px 2px #f30606;
}
li h3 {
  font-family: "Vermin", Verdana, Tahoma;
  font-size: 25px;
  color: #fff;
  text-align: center;
  line-height: 20px;
  text-shadow: 1px 1px #06f326;
}
li h3:hover {
  color: #06f326;
  text-shadow: 1px 1px #fff;
  font-size: 28px;
}
nav ul {
  list-style: none;
  text-align: center;
}

p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 20px;
}
.section-head {
  padding-top: 50px;
}
a {
  text-decoration: none;
}
/***Global end***/
/***Header***/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: space-evenly;
  background-color: #003366;
  padding: 40px;
}

.title {
  background-color: #003366;
  display: flex;
  text-align: center;
  padding-top: 50px;
}
.mugshot {
  padding-top: 50px;
  display: flex;
  width: 30rem;
  align-items: center;
}
.photo {
  width: 100%;
  margin: 0px;

  border-radius: 25px;
  box-shadow: 5px 5px #888888;
}

/***Header end***/
.about {
  background-image: linear-gradient(180deg, #003366, green 150%);
  margin: -20px;

  margin: -35px;

  padding-top: -20px !important;
}

.flex-container-about-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: space-evenly;

  padding: 40px;
}

.sidebyside {
  width: 30rem;
}
.portfolio {
  /*height: 1200px;*/
  background-image: linear-gradient(180deg, #156429, #fff 150%);
  margin: -20px;
  margin: -35px;
  padding-top: -20px !important;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-size: cover;
  align-items: center;
  justify-content: space-evenly;
}
.container {
  margin: -20px;
  padding: 0px;
}

.main-portfolio {
  width: 80%;
  border-radius: 25px;
  height: 400px;
  background-image: url(../images/wordpress.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 5px 5px #f0f0f0;
}
.main-portfolio:hover {
  background-image: url(../images/wordpresshov.jpg);
  box-shadow: 5px 5px #000;
  height: 440px;
  width: 85%;
}
.wpinner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  width: 40%;
  padding: 20px;
}
.flex-container-folio-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: center;
}
.sidebysidepor {
  width: 36rem;
  border-radius: 25px;
  height: 400px;
  background-image: url(../images/wordpress.jpg);

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  align: center;
  margin: 20px;
  box-shadow: 5px 5px #f0f0f0;
}
.footer {
  width: 100%;
  height: 300px;
  /*background-image: linear-gradient(180deg, #89b193, #003366 150%);*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: center;
}
.footercol {
  font-size: 30px;
  font-weight: 600;
  width: 27rem;
  text-align: center;
}
.footercol a {
  text-decoration: none;
  color: #fff;
}
.footercol a:hover {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
}
#footer {
  margin-top: 50px;
}
.copyright {
  width: 100%;
  text-align: center;
  padding-top: 250px;
}
/**RESPONSIVE ELEMENTS**/
@media only screen and (max-width: 480px) {
  .sidebysidepor {
    width: 27rem !important;
  }
  .copyright {
    padding-top: -150px;
  }
  h1.customfont {
    font-size: 100px;
    line-height: 120px;
  }
  h2.customfont {
    font-size: 130px;
  }
  li h3 {
    font-size: 40px;
  }
  li {
    padding: 30px;
  }
  .fa {
    font-size: 90px !important;
    padding-left: 60px;
    padding-right: 60px;
  }
  li {
    padding-left: 30px;
    padding-right: 30px;
  }
  .mugshot {
    width: auto;
  }
  .sidebyside {
    width: 80%;
  }
  .main-portfolio {
    width: 80% !important;
  }
  .sidebyside {
    width: 80%;
  }
}
